<div *ngIf="images == undefined || images.length < 2 ">
<div    class='no-image'>
  <button class='btn compare-close' (click)='hideCompare()'>Close</button>
  <h1 *ngIf="event !==undefined">Images of "{{event.title}}" are coming soon...</h1>
  <img src="assets/Satellite.png">
</div>
</div>
<div class='drop-area' (dragover)="dragOver($event, 'other')" (drop)="dropImage($event, 'other')">
<div class='compare-header'>
  <button class='btn compare-close' (click)='hideCompare()'>Close</button>
  <h3 *ngIf="event !==undefined">{{event.title}}</h3>

</div>
<div class='compare-container'>
  <div class='drag-coverage' [ngClass]="{'dragActiveLeft': dragActiveLeft === true}" (dragover)="dragOver($event, 'left')"
    (drop)="dropImage($event, 'left')">
    <h3>Drop to left</h3>
  </div>
  <div class='drag-coverage' [ngClass]="{'dragActiveRight': dragActiveRight === true}" (dragover)="dragOver($event, 'right')"
    (drop)="dropImage($event, 'right')">
    <h3>Drop to right</h3>
  </div>
  <div id='before' class='map'></div>
  <div id='after' class='map'></div>
  <div *ngIf="leftImage !== undefined && rightImage !== undefined">
    <div class='left-date'>
      <p>{{leftImage.date}}</p>
    </div>
    <div class='right-date'>
      <p>{{rightImage.date}}</p>
    </div>
  </div>

</div>
<div class='compare-carousel'>
  <ngx-carousel [inputs]="carouselOne" (carouselLoad)="myfunc($event)">
    <ngx-tile draggable="true" NgxCarouselItem *ngFor="let image of images" (dragstart)="dragStart($event, image)">
      <img src='{{image.imageURL}}'>
      <p>{{image.satelliteName}} | {{image.date}} | {{image.cloudCoverage}}</p>
    </ngx-tile>

    <button NgxCarouselPrev class='leftRs'>&lt;</button>
    <button NgxCarouselNext class='rightRs'>&gt;</button>
  </ngx-carousel>
</div>
</div>

