<app-header></app-header>
<app-event [ngClass]='{activeSideBar: activeBar === "event"}' #scroll></app-event>
<app-coverage [ngClass]='{activeSideBar: activeBar === "menu"}'></app-coverage>
<app-map-box [ngClass]= "{hidenMap: activeBar !== '' }"></app-map-box>
<div [ngClass]="{shadowCompare : visible === true}"></div>
<app-compare [ngClass]="{activeCompare: visible === true}" [eventName]="eventName"></app-compare>
<button id ='events-btn' class='btn mobile-btn' (click)='setActiveBar("event")'>Events</button>
<button id ='menu-btn' class='btn mobile-btn' (click)='setActiveBar("menu")'>Menu</button>