<!--<p>
  authorization works!
</p>-->
<!--<form>
	<label for='login'>Login</label>
	<input id='login' name='login'>
	<label for='password'>Password</label>
	<input id='password' name='password'>
	<input type="submit" value='Send'/>
</form>-->
<form class="ui form" action="" method="post">
  <div class="field">
    <label>Name</label>
    <input type="text" name="name" placeholder="Name">
  </div>
  <div class="field">
    <label>Password</label>
    <input type="password" name="password" placeholder="Password">
  </div>  
  <!--<button class="ui button" type="submit">Submit</button>-->
  <input class='submit' type="submit" value='Send'/>
</form>