<div [ngClass]='{show : isVisible === true}' class='filter-side'>
    <div class='search'>
        <input type='search' id='search' placeholder="Search" #search>
    </div>
    <ul class='filter'>
        <li *ngFor="let event_type of event_types" id='{{event_type}}' #{{event_type}} (click)="CheckType($event,event_type)">
            <img src='/assets/{{event_type}}.png'>
            <span>{{event_type}}</span>
        </li>
    </ul>
    <button class="filter-button" (click)="CheckTitle($event,search.value)">Find</button>
</div>