<!-- <p>
  news works!
</p> -->
<div class='block article'>
  <img class='author-logo indent-2' src='https://upload.wikimedia.org/wikipedia/commons/5/58/NewYorkTimes.svg'>
  <a href='{{article.url}}' class='card-title'>{{ article.title }}</a>
  <a href='{{article.url}}' ><img class='article-image indent-2' src='{{article.urlToImage}}'></a>
  <p class='card-content indent-2'>{{ article.description }}</p>
  <p class='card-content indent-1'>Published at {{ article.publishedAt }}</p>
  <!--<p class='card-content indent-3'>{{ article.author }}</p>-->
  <a class='indent-2' href='https://newsapi.org/'>News API</a>  
</div>