<div class='title left'>
	<h3>Events</h3>
	<div class='filter-icon-container' (click)="setVisible()">
		<img class='filter-icon' src='/assets/funnel.png'>
	</div>
</div>
<div class='target'></div>
<div class='container'>
	<app-filter [isVisible]="visible" [event_types]="event_types" [active_types]="active_types" [title]="title" (changeActiveTypes)="viewChanges($event)"
	 (changeTitle)="viewTitle($event)"></app-filter>
	<div class='card-container'>
		<div *ngIf="events==undefined || events.length==0">
			<h3>Event list is empty</h3>
		</div>
		<app-card *ngFor="let event of events; trackBy:trackByEventId" [event]="event" (update)="onLoad($event)">
		</app-card>

	</div>
</div>