/* You can add global styles to this file, and also import other style files */
body{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

.container{
	padding: 20px;
}

.block{
	cursor: pointer;
	background-color:#FAFAFA; 
	width: 100%;
	min-height: 100px;	
	box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	margin: 15px 0;
	padding: 5px;
	transition-timing-function: ease-in;
  	transition: 0.2s;
}
.active, .block:hover{
	background-color:#FFFFFF; 
	box-shadow: 0 3px 4px rgba(0,0,0,0.7);
	transition-timing-function: ease-in;
  	transition: 0.2s;
}
.card-title{
	position: relative;
	font-family: 'Montserrat', sans-serif;
	padding: 10px 10px;
	text-transform: uppercase;
	font-weight: 600;
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
.card-content{
	position: relative;
	font-family: 'Montserrat', sans-serif;
	padding: 0 10px;
	font-weight: 100;
	font-size:12px;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	word-wrap: break-word;
}
.title{
	top:45px;
	position: fixed;
	background: white;
	width: 224px;
	z-index: 100;
	height: auto;
}
.title>h1,.title>h2,.title>h3{
	padding: 0 20px;
}
.left{
	left: 0;
}
.right{
	right:6px;
}

.card-container{
	margin-top:100px;
}
.logo>h1{
	margin:0;
	font-size: 22px;
	padding: 10px 5px 5px 20px;
}
.logo{
	margin: 0;
}
.search>label{
	position: absolute;
	top: 0;	
	font-size: 9px; 
}
.search{
	position:relative;
	min-height: 40px;
	/*width: calc(100% - 40px);*/ /*depend from padding*/
	padding: 0 20px;
  }
.search>input[type='search']{
	position: absolute;
	bottom: 0;
	/*width: 100%;*/
	padding: 5px 1px;
	font-family: 'Montserrat', sans-serif; 
	font-size: 13px;
	border: none;
	border-bottom: 1px #607D8B solid; 
}
/*.search>input[type='search']:focus +.search>label{
	color:#1565C0;
}*/
.search>input[type='search']:focus,.search>input[type='search']:hover{
	outline: none;
}
.search>input[type='search']:focus{
	border-bottom: 1px #1565C0 solid;	
}
.search>input[type='search']:focus + label{
	color: #1565C0;
}
.more{
	border-style: solid;
    border-width: 0 2px 2px 0;
    content: '';
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
	vertical-align: middle;
	margin: 10px 45%;
}
.filter-container{
	position: absolute;
	padding: 10px 0;
	background:#fff;
	transform: translateY(-1000%);
}
.filter{
	padding: 5px  20px;
	list-style-type: none;
}
label {
  cursor: pointer;
}
.filter input[type = "checkbox"]{
	cursor: pointer;	
}
.filter-date li{
	display: inline;
}
.filter input[type = "date"]::-webkit-inner-spin-button,
/*.filter input[type = "date"]::-webkit-calendar-picker-indicator*/ {
    display: none;
    -webkit-appearance: none;
}
.filter input[type = "date"]{
	/*position: absolute;*/
	right: 0;
	padding: 5px 1px;
	font-family: 'Montserrat', sans-serif; 
	font-size: 13px;
	border: none;
	border-bottom: 1px #607D8B solid; 
}
.filter input[type='date'] + label{
	/*position: absolute;*/
	left: 0;
}
.filter input[type='date']:focus,.search>input[type='search']:hover{
	outline: none;
}
.filter input[type='date']:focus{
	border-bottom: 2px #1565C0 solid;	
}
.filter input[type='date']:focus + label{
	color: #1565C0;
}
.filter-button{
	padding: 5px 10px;
	border: 0;
	font-size: 12px;
	border: none;
	color: #fff;
	margin: 5px 20px;
	background-color: #1565C0;
	text-transform: uppercase; 	 
}
.tweet-container{
	margin-top: 25px;
}
.tweet-block-title>.image{
	position: absolute;
	float: left;
	width: 50px;
	height: 50px;
	padding: 0 10px;
}

.tweet-block-title{
	position: relative;
	margin-bottom: 10px;
	height: 50px;
	padding-bottom: 10px;
	border-bottom: solid 1px #BDBDBD
}
.tweet-author{
	width: calc(100% - 70px);
    left: 60px;
	top: 10px;
	font-size: 14px;
	word-wrap: break-word;
	/*margin-bottom: 15px;*/
}
.tweet-date{
	padding-top: 10px;
	border-top: solid 1px #BDBDBD
}
.indent-1{
	margin: 5px 0;
}
.indent-2{
	margin: 10px 0;
}
.indent-3{
	margin: 15px 0;
}
.indent-4{
	margin: 20px 0;
}
.circle{
	border-radius: 100%;
}
.blue{
	color:#0091EA;
	text-decoration: none;
}
